<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253131687143-5ssees0dd26nv6e9jkg99hcat8bmjvme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253131687143-5ssees0dd26nv6e9jkg99hcat8bmjvme</string>
	<key>API_KEY</key>
	<string>AIzaSyBGGnzgNgwtR25RIcJu4MedLTvLns8iT3o</string>
	<key>GCM_SENDER_ID</key>
	<string>253131687143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.varyRecycle</string>
	<key>PROJECT_ID</key>
	<string>fir-recycle-769a8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-recycle-769a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253131687143:ios:fcafbafd32a2c2459b8e42</string>
</dict>
</plist>